<nav class="navbar navbar-light bg-light justify-content-between bg-light">
    <div>
        <a class="rounded"><img src="../static/images/icons8-monitor-80.png" alt="Internet Explorer Icon"></a>
    </div>
    <div class="d-flex">
        <a class="nav-item nav-link active text-dark" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link text-dark" href="#">About</a>
        <a class="nav-item nav-link text-dark" href="#">Contact</a>
        <a class="nav-item nav-link text-dark" href="#">Academics</a>
        <a class="nav-item nav-link text-dark" href="#">Career</a>
    </div>
    
</nav>
